<!-- Phidgets IMU launch file -->

<launch>
  #### Bridge ###########################################################

  <node pkg="bridge" type="from_bridge" name="from_bridge" output="screen"/>

  #### Recorder
  <node pkg="rosbag" type="record" name="fastsense_recorder" output="screen" args="--all"/>   
</launch>
