build/
docs/
test/build/
test/build-local/
bagfiles/
pcd_files/cloud_snapshots/
RTL88x2BU-Linux-Driver/
scripts/install/

qemu*

_*
v++*
*.log
*.jou
.ipcache/
.vscode
.Xil/

app_image/
test_image/

scripts/*libphidget*

### CLion ###
*.idea
*/build/*

### C++ ###
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

### Astyle ###
*.orig

### ROS
.catkin_workspace
*devel*
*build*
test/ros_tests_ws/devel
test/ros_tests_ws/build
ros/*.bag
ros/bag/*
