[submodule "base_design"]
	path = base_design
	url = https://gitlab.informatik.uni-osnabrueck.de/FastSense/base_design
[submodule "src/imudriver"]
	path = src/imudriver
	url = https://gitlab.informatik.uni-osnabrueck.de/FastSense/imudriver
